
@font-face {
  font-family: Jost;
  src: url(../public/static/Jost-Regular.ttf);
}

$primary_color: #FFF0D6;
$secondary_color: #FBEBB5;

*{
  margin: 0;
  padding: 0;
  font-family: Jost;

  &::-webkit-scrollbar{
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: lightgrey; 
    border-radius: 20px;
  }
}




